[MASTER]
ignore=venv,tests
jobs=1

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0801,  # duplicate-code
    W0511,  # fixme
    W0703,  # broad-except
    C0103,  # invalid-name
    W0621,  # redefined-outer-name
    W1203,  # logging-fstring-interpolation

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized
score=yes
